body {
  
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: #ffffff;
  text-align: center;
}

.App header {
  padding: 20px;
  background-color: #282c34;
  color: white;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

main {
  padding: 20px;
}
.yo {
  height: 40vmin;
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.futbol, .ecua, .basq {
  height: 40vmin;
  pointer-events: none;
  transition: transform 0.3s ease-in-out;
}

.futbol:hover, .ecua:hover, .basq:hover {
  transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}